// Цвета
$primary-color: #10101DE6;
$secondary-color: #2ecc71;
$text-color: #fff;
$background-color: #272733;

// Шрифты
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;

// Отступы
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;